<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>单据申请首页</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/md-plus-style.css">
    <link rel="stylesheet" type="text/css" href="../css/m-plus-style.css">
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
</head>
<body>
<div class="container">
  <!--导航条begin-->
  <div class="navbar">
      <div class="navbar-inner">
          <span class="brand"><img src="../img/plus-logo.png"/>流程审批</span>
          <ul class="nav">
              <li class="active"><a href="#">单据申请</a></li>
              <li><a href="#">我的单据</a></li>
              <li><a href="#">单据审批</a></li>
              <li><a href="#">个人设置</a></li>
              <li><a href="#">环境设置</a></li>
          </ul>
          <div class="btn-group">
              <button class="btn">单据申请</button>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="">单据申请</a></li>
                <li><a href="">我的单据</a></li>
                <li><a href="">单据审批</a></li>
                <li><a href="">个人设置</a></li>
                <li><a href="#">环境设置</a></li>
              </ul>
          </div>
      </div>
  </div>
  <!--导航条over-->
</div>
</body>
</html>