<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>dyq-首页</title>
    <link rel="stylesheet" href="../css/global.css" type="text/css">
    <link rel="stylesheet" href="../css/dqy-style.css" type="text/css">
</head>
<body>
<div class="container">
    <!--header begin-->
    <div class="header clearfix">
        <a href="#" class="logo floatleft" title="德青源"><img src="../images/cssimg/dqy-logo.png"/></a>
        <ul class="nav font18 clearfix p-top40 floatleft">
           <li class="current"><a href="#"><em></em>首 页</a></li>
           <li><a href="#"><em></em>人事管理</a></li>
           <li><a href="#"><em></em>申请管理</a></li>
           <li><a href="#"><em></em>系统管理</a></li>
        </ul>
        <!--右侧begin-->
        <div class="top-bar">
           <div class="search-box"><!--search-box上加减 current 控制三角的方向，和选项的折叠-->
              <a href="#" class="triangle"></a>
              <span class="choosed">机构选择</span>
              <ul>
                  <li><a href="#">北京东城分部</a></li>
                  <li><a href="#">石家庄分部</a></li>
                  <li><a href="#">天津城分部</a></li>
                  <li><a href="#">美国西部分部</a></li>
              </ul>
           </div>
           <p class="clearfix mart20 p-top5 font14 aligncenter">
               <a href="#"><em class="dqy-ico dqy-ico-set"></em>帐户设置</a> |
               <a href="#"><em class="dqy-ico dqy-ico-out"></em>退出登录</a>
           </p>
        </div>
        <!--右侧over-->
    </div>
    <!--header over-->
    <div class="main">
       <div class="content p-top5">
          <div class="banner"><img src="../images/banner.jpg"/></div>
          <div class="clearfix">
              <!--左侧四块begin-->
              <div class="left-count floatleft">
                  <div class="item font14">
                      <h2 class="clearfix">
                          <strong class="floatleft  marl5"><em class="dqy-ico dqy-ico-board"></em>公告栏</strong>
                          <a href="#" class="more floatright marr10" title="查看更多"><img src="../images/cssimg/more.jpg"/></a>
                      </h2>
                      <ul class="news">
                          <li class="clearfix">
                              <a href="#">费用报销补充规定</a>
                              <span class="time floatright">09.03.24</span>
                          </li>
                          <li class="clearfix">
                              <a href="#">费用报销补充规定</a>
                              <span class="time floatright">09.03.24</span>
                          </li>
                          <li class="clearfix">
                              <a href="#">费用报销补充规定</a>
                              <span class="time floatright">09.03.24</span>
                          </li>
                          <li class="clearfix">
                              <a href="#">费用报销补充规定</a>
                              <span class="time floatright">09.03.24</span>
                          </li>
                          <li class="clearfix">
                              <a href="#">费用报销补充规定</a>
                              <span class="time floatright">09.03.24</span>
                          </li>
                      </ul>
                  </div>
                  <div class="item font14">
                      <h2 class="clearfix">
                          <strong class="floatleft  marl5"><em class="dqy-ico dqy-ico-post"></em>发文管理</strong>
                          <a href="#" class="more floatright marr10" title="查看更多"><img src="../images/cssimg/more.jpg"/></a>
                      </h2>
                      <ul class="news">
                          <li class="clearfix">
                              <a href="#">费用报销补充规定</a>
                              <span class="cross floatright">未通过</span>
                          </li>
                          <li class="clearfix">
                              <a href="#">费用报销补充规定</a>
                              <span class="cross floatright">未通过</span>
                          </li>
                          <li class="clearfix">
                              <a href="#">费用报销补充规定</a>
                              <span class="cross nocross floatright">已通过</span>
                          </li>
                          <li class="clearfix">
                              <a href="#">费用报销补充规定</a>
                              <span class="cross floatright">未通过</span>
                          </li>
                          <li class="clearfix">
                              <a href="#">费用报销补充规定</a>
                              <span class="cross floatright">未通过</span>
                          </li>
                      </ul>
                  </div>
                  <div class="item font14">
                      <h2 class="clearfix">
                          <strong class="floatleft  marl5"><em class="dqy-ico dqy-ico-task"></em>我的任务</strong>
                          <a href="#" class="more floatright marr10" title="查看更多"><img src="../images/cssimg/more.jpg"/></a>
                      </h2>
                      <ul class="news">
                          <li class="clearfix">
                              <a href="#">费用报销补充规定</a>
                              <span class="time floatright">09.03.24</span>
                          </li>
                          <li class="clearfix">
                              <a href="#">费用报销补充规定</a>
                              <span class="time floatright">09.03.24</span>
                          </li>
                          <li class="clearfix">
                              <a href="#">费用报销补充规定</a>
                              <span class="time floatright">09.03.24</span>
                          </li>
                          <li class="clearfix">
                              <a href="#">费用报销补充规定</a>
                              <span class="time floatright">09.03.24</span>
                          </li>
                          <li class="clearfix">
                              <a href="#">费用报销补充规定</a>
                              <span class="time floatright">09.03.24</span>
                          </li>
                      </ul>
                  </div>
                  <div class="item font14">
                      <h2 class="clearfix">
                          <strong class="floatleft  marl5"><em class="dqy-ico dqy-ico-re"></em>收文管理</strong>
                          <a href="#" class="more floatright marr10" title="查看更多"><img src="../images/cssimg/more.jpg"/></a>
                      </h2>
                      <ul class="news">
                          <li class="clearfix">
                              <a href="#">费用报销补充规定</a>
                              <span class="noread floatright">未查看</span>
                          </li>
                          <li class="clearfix">
                              <a href="#">费用报销补充规定</a>
                              <span class="noread floatright">未查看</span>
                          </li>
                          <li class="clearfix">
                              <a href="#">费用报销补充规定</a>
                              <span class="noread floatright">未查看</span>
                          </li>
                          <li class="clearfix">
                              <a href="#">费用报销补充规定</a>
                              <span class="noread floatright">未查看</span>
                          </li>
                          <li class="clearfix">
                              <a href="#">费用报销补充规定</a>
                              <span class="noread floatright">未查看</span>
                          </li>
                      </ul>
                  </div>
              </div>
              <!--左侧四块over-->
              <!--右侧两块beign-->
              <div class="floatleft">
                  <!--my page begin-->
                  <div class="item2">
                      <h2 class="aligncenter font16">MY PAGE</h2>
                      <ul class="news">
                          <li class="clearfix">
                              <a href="#">费用报销补充规定</a>
                              <span class="noread floatright">未查看</span>
                          </li>
                          <li class="clearfix">
                              <a href="#">费用报销补充规定</a>
                              <span class="noread floatright">未查看</span>
                          </li>
                          <li class="clearfix">
                              <a href="#">费用报销补充规定</a>
                              <span class="noread floatright">未查看</span>
                          </li>
                          <li class="clearfix">
                              <a href="#">费用报销补充规定</a>
                              <span class="noread floatright">未查看</span>
                          </li>
                          <li class="clearfix">
                              <a href="#">费用报销补充规定</a>
                              <span class="noread floatright">未查看</span>
                          </li>
                      </ul>
                  </div>
                  <!--my page over-->
                  <!--代办提醒begin-->
                  <div class="item2 mart10">
                      <h2 class="aligncenter font16">代办提醒</h2>
                  </div>
                  <!--代办提醒over-->
              </div>
              <!--右侧两块over-->
          </div>
       </div>
    </div>
</div>
</body>
</html>