<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>dyq-登录页</title>
    <link rel="stylesheet" href="../css/global.css" type="text/css">
    <link rel="stylesheet" href="../css/dqy-style.css" type="text/css">
</head>
<body>
<div class="container login-bg">
   <div class="login">
       <div class="login-main">
           <div class="login-box">
               <h2 class="font24 aligncenter">登&nbsp;&nbsp;录</h2>
               <table class="mart10">
                   <tr>
                       <th>机构码</th>
                       <td><span class="int"><input type="text"></span></td>
                   </tr>
                   <tr>
                       <th>用户名</th>
                       <td><span class="int"><input type="text"></span></td>
                   </tr>
                   <tr>
                       <th>密&nbsp;&nbsp;码</th>
                       <td><span class="int"><input type="password"></span></td>
                   </tr>
               </table>
               <p class="aligncenter"><a href="#" class="login-btn"></a></p>
           </div>
           <div class="login-bt"><img src="../images/cssimg/login-box-bt.png"></div>
       </div>
   </div>
</div>
</body>
</html>