<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>打印弹出</title>
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../css/global.css" type="text/css">
    <link rel="stylesheet" href="../css/dqy-style.css" type="text/css">
</head>
<body>
<div class="print">
    <div class="">
        <div class="clearfix">
            <span class="floatleft"><img src="../images/cssimg/dqy-logo.png" width="70"></span>
            <div class="print-title floatleft">
               <p class="font20 aligncenter">考勤申请</p>
               <p class="alignright font12">单据编号：KQ-2013-0007</p>
            </div>
        </div>
        <table class="print-table mart10" id="printTable" width="100%">
        <tbody>
        <tr>
            <th width="70">标题</th>
            <td colspan="3">调休申请测试</td>
        </tr>
        <tr>
        <th>员工</th>
        <td>
            &nbsp;
        </td>
        <th width="70">部门</th>
        <td>
            &nbsp;
        </td>
            </tr>
        <tr>
        <th>职务</th>
        <td>
            &nbsp;
        </td>
        <th>工作地点</th>
        <td>
            &nbsp;
        </td>
            </tr>
        <tr>
        <th>请假类别</th>
        <td colspan="3">
            &nbsp;
        </td>
            </tr>
        <tr>
        <th>开始日期</th>
        <td>
            &nbsp;
        </td>
        <th>开始时间</th>
        <td>
            &nbsp;
        </td>
            </tr>
        <tr>
        <th>结束日期</th>
        <td>
            &nbsp;
        </td>
        <th>结束时间</th>
        <td>
            &nbsp;
        </td>
            </tr>
        <tr>
        <th>备注</th>
        <td colspan="3">
            &nbsp;
        </td>
        </tr>
        </tbody>
    </table>
        <div class="print-bt clearfix">
           <p>申请人：王振佳</p>
           <p>申请时间：2013-08-12 14:04</p>
        </div>
    </div>
    <div class="mart10 alignright">
        <a href="#" class="btn btn-success">打印</a>
        <a href="#" class="btn">取消</a>
    </div>
</div>
</body>
</html>