<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>环境设置--表单管理</title>
    <link rel="stylesheet" href="../../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../../css/theme1-style.css" type="text/css">
</head>
<body>
<div class="md-plus">
    <div class="md-plus-inner mart30">
        <!--the inner nav begin-->
        <div class="md-p-nav">
            <ul class="clearfix">
                <li><a href="#"class="m-first-a">单据申请</a></li>
                <li><a href="#">我的单据<em class="md-plus-news"></em></a></li>
                <li><a href="#">单据审批</a></li>
                <li><a href="#">个人设置</a></li>
                <li class="current"><a href="#" class="m-last-a">环境设置</a></li>
            </ul>
        </div>
        <!--the inner nav over-->
        <!--the main beign-->
        <div class="md-plus-main">
            <!--二级导航 begin-->
            <div class="md-p-nav2">
                <ul class="clearfix font18">
                    <li><a href="#">公司审批人</a></li>
                    <li><a href="#">部门审批人<em class="md-plus-news">2</em></a></li>
                    <li class="current"><a href="#">表单管理</a></li>
                    <li><a href="#">流程设置</a></li>
                </ul>
            </div>
            <!--二级导航 over-->
            <div class="mart20 clearfix">
                    <!--部门审批人列表begin-->
                    <div class="clearfix md-plus-approver">
                        <div class="md-doc-item-box floatleft">
                            <div class="md-doc-item" title="还款申请单">
                                <h2 class="font14"><a href="#">还款申请单</a></h2>
                                <div class="md-plus-h clearfix">
                                    <span class="md-ico floatleft"><img src="../../../images/theme1-img/1-big-01.png"></span>
                                    <span class="md-doc-txt floatleft" title="用于公司员工考勤申请，请在请假前预先提交。">用于公司员工考勤申请，请在请假前预先提交。</span>
                                </div>
                                <p class="alignright">
                                    <a href="#" class="md-mi-ico2 md-mi-edit" title="编辑"></a>
                                    <a href="#" class="md-mi-ico2 md-mi-delete" title="删除"></a>
                                </p>
                            </div>
                        </div>
                        <div class="md-doc-item-box floatleft">
                            <div class="md-doc-item" title="还款申请单">
                                <h2 class="font14"><a href="#">还款申请单</a></h2>
                                <div class="md-plus-h clearfix">
                                    <span class="md-ico floatleft"><img src="../../../images/theme1-img/1-big-02.png"></span>
                                    <span class="md-doc-txt floatleft">用于公司员工考勤申请，请在请假前预先提交。</span>
                                </div>
                                <p class="alignright">
                                    <a href="#" class="md-mi-ico2 md-mi-edit" title="编辑"></a>
                                    <a href="#" class="md-mi-ico2 md-mi-delete" title="删除"></a>
                                </p>
                            </div>
                        </div>
                        <div class="md-doc-item-box floatleft">
                            <div class="md-doc-item" title="还款申请单">
                                <h2 class="font14"><a href="#">还款申请单</a></h2>
                                <div class="md-plus-h clearfix">
                                    <span class="md-ico floatleft"><img src="../../../images/theme1-img/1-big-03.png"></span>
                                    <span class="md-doc-txt floatleft">用于公司员工考勤申请，请在请假前预先提交。</span>
                                </div>
                                <p class="alignright">
                                    <a href="#" class="md-mi-ico2 md-mi-edit" title="编辑"></a>
                                    <a href="#" class="md-mi-ico2 md-mi-delete" title="删除"></a>
                                </p>
                            </div>
                        </div>
                        <div class="md-doc-item-box floatleft">
                            <div class="md-doc-item" title="还款申请单">
                                <h2 class="font14"><a href="#">还款申请单</a></h2>
                                <div class="md-plus-h clearfix">
                                    <span class="md-ico floatleft"><img src="../../../images/theme1-img/1-big-04.png"></span>
                                    <span class="md-doc-txt floatleft">用于公司员工考勤申请，请在请假前预先提交。</span>
                                </div>
                                <p class="alignright">
                                    <a href="#" class="md-mi-ico2 md-mi-edit" title="编辑"></a>
                                    <a href="#" class="md-mi-ico2 md-mi-delete" title="删除"></a>
                                </p>
                            </div>
                        </div>
                        <div class="md-doc-item-box floatleft">
                            <div class="md-doc-item" title="还款申请单">
                                <h2 class="font14"><a href="#">还款申请单</a></h2>
                                <div class="md-plus-h clearfix">
                                    <span class="md-ico floatleft"><img src="../../../images/theme1-img/1-big-05.png"></span>
                                    <span class="md-doc-txt floatleft">用于公司员工考勤申请，请在请假前预先提交。</span>
                                </div>
                                <p class="alignright">
                                    <a href="#" class="md-mi-ico2 md-mi-edit" title="编辑"></a>
                                    <a href="#" class="md-mi-ico2 md-mi-delete" title="删除"></a>
                                </p>
                            </div>
                        </div>
                        <div class="md-doc-item-box floatleft">
                            <div class="md-doc-item" title="还款申请单">
                                <h2 class="font14"><a href="#">还款申请单</a></h2>
                                <div class="md-plus-h clearfix">
                                    <span class="md-ico floatleft"><img src="../../../images/theme1-img/1-big-06.png"></span>
                                    <span class="md-doc-txt floatleft">用于公司员工考勤申请，请在请假前预先提交。</span>
                                </div>
                                <p class="alignright">
                                    <a href="#" class="md-mi-ico2 md-mi-edit" title="编辑"></a>
                                    <a href="#" class="md-mi-ico2 md-mi-delete" title="删除"></a>
                                </p>
                            </div>
                        </div>
                        <div class="md-doc-item-box floatleft">
                            <div title="还款申请单" class="md-doc-item">
                                <h2 class="font14"><a href="#">还款申请单</a></h2>
                                <div class="md-plus-h clearfix">
                                    <span class="md-ico floatleft"><img src="../../../images/theme1-img/1-big-01.png"></span>
                                    <span class="md-doc-txt floatleft">司内部请假专用申请单据。包含事假，病假，产假，倒休</span>
                                </div>
                                <p class="alignright">
                                    <a title="编辑" class="md-mi-ico2 md-mi-edit" href="#"></a>
                                    <a title="删除" class="md-mi-ico2 md-mi-delete" href="#"></a>
                                </p>
                            </div>
                        </div>
                        <div class="md-doc-item-box floatleft">
                            <div class="md-doc-item">
                                <p class="aligncenter mart30"><i class="md-plus-add"></i></p>
                                <p class="aligncenter font14 mart10 strong"><a href="#">创建申请表单</a></p>
                            </div>
                        </div>

                    </div>
                    <!--部门审批人列表over-->
                    <!--分页器begin-->
                    <div class="md-plus-page aligncenter clearfix mart20">
                        <a href="#" class="md-p-prev">&lt;</a>
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <span>...</span>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#" class="md-p-next">&gt;</a>
                    </div>
                    <!--分页器bover-->
            </div>

        </div>
        <!--the main over-->
    </div>
</div>
</body>
</html>
