<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>单据申请首页</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/md-plus-style.css" type="text/css">
    <link rel="stylesheet" href="../../css/theme1-style.css" type="text/css">
</head>
<body>
<div class="content">
<div class="md-plus">
<!--alert begin 2013-07-26-->
<div class="alertDialog" style="top:100px;left:500px;display:none">
    <span>这里的网速慢死了！</span>
    <a href="#" class="close">×</a>
</div>
<div class="errorDialog" style="top:300px;left:500px;display:none">
    <span>登录失败：密码错误！</span>
    <a href="#" class="close">×</a>
</div>
<!--alert over 2013-07-26-->
<!--@出来的提示框beign-->
<div class="md-result-user" style="left:500px;top:50px;">
    <div class="md-results clearfix">
        <span><img src="../../images/htmlimg/1.jpg"/></span>
        <span class="md-name">王振佳</span>
        <span>（开发部</span>
        <span>CTO）</span>
    </div>
    <div class="md-results current clearfix">
        <span><img src="../../images/htmlimg/2.jpg"/></span>
        <span class="md-name">赵阳</span>
        <span>（开发部</span>
        <span>CTOOOOOOOO）</span>
    </div>
</div>
<!--@出来的提示框over-->
<!--知识门户begin-->
<div class="md-plus-top clearfix">
    <div class="floatleft md-plus-l"><span class="md-ico floatleft md-ico-logo"></span>流程审批</div>
</div>
<!--知识门户over-->
<div class="md-plus-inner mart30">
    <!--the inner nav begin-->
    <div class="md-p-nav">
        <ul class="clearfix">
            <li class="current"><a href="#" class="m-first-a">单据申请</a></li>
            <li><a href="#">我的单据<em class="md-plus-news"></em></a></li>
            <li><a href="#">单据审批</a></li>
            <li><a href="#">个人设置</a></li>
            <li><a href="#" class="m-last-a">环境设置</a></li>
        </ul>
    </div>
    <!--the inner nav over-->
    <!--the main beign-->
    <div class="md-plus-main" style="width:770px;">
        <div class="clearfix md-lise-box p-top10">
            <div class="md-doc-item-box floatleft">
                <div class="md-doc-item current" title="还款申请单">
                    <a href="#" class="h2">还款申请单</a>

                    <div class="md-plus-h clearfix">
                        <span class="md-ico floatleft"><img src="../../images/theme1-img/1-big-01.png"></span>
                        <span class="md-doc-txt floatleft">用于公司员工考勤申请，请在请假前预先提交。</span>
                    </div>
                    <p class="mart10 clearfix"><a href="#" class="md-plus-btn floatright">填 写<em
                            class="md-plus-btn-r"></em></a></p>
                </div>
            </div>
            <div class="md-doc-item-box floatleft">
                <div class="md-doc-item" title="外出申请单">
                    <a href="#" class="h2">外出申请单</a>

                    <div class="md-plus-h clearfix">
                        <span class="md-ico floatleft"><img src="../../images/theme1-img/1-big-02.png"></span>
                        <span class="md-doc-txt floatleft">用于公司员工考勤申请，请在请假前预先提交。</span>
                    </div>
                    <p class="mart10 clearfix"><a href="#" class="md-plus-btn floatright">填 写<em
                            class="md-plus-btn-r"></em></a></p>
                </div>
            </div>
            <div class="md-doc-item-box floatleft">
                <div class="md-doc-item" title="出差申请单">
                    <a href="#" class="h2">出差申请单</a>

                    <div class="md-plus-h clearfix">
                        <span class="md-ico floatleft"><img src="../../images/theme1-img/1-big-03.png"></span>
                        <span class="md-doc-txt floatleft">用于公司员工考勤申请，请在请假前预先提交。</span>
                    </div>
                    <p class="mart10 clearfix"><a href="#" class="md-plus-btn floatright">填 写<em
                            class="md-plus-btn-r"></em></a></p>
                </div>
            </div>
            <div class="md-doc-item-box floatleft">
                <div class="md-doc-item" title="预支申请单">
                    <a href="#" class="h2">预支申请单</a>

                    <div class="md-plus-h clearfix">
                        <span class="md-ico floatleft"><img src="../../images/theme1-img/1-big-04.png"></span>
                        <span class="md-doc-txt floatleft">用于公司员工考勤申请，请在请假前预先提交。</span>
                    </div>
                    <p class="mart10 clearfix"><a href="#" class="md-plus-btn floatright">填 写<em
                            class="md-plus-btn-r"></em></a></p>
                </div>
            </div>
            <div class="md-doc-item-box floatleft">
                <div class="md-doc-item" title="还款申请单">
                    <a href="#" class="h2">还款申请单</a>

                    <div class="md-plus-h clearfix">
                        <span class="md-ico floatleft"><img src="../../images/theme1-img/1-big-05.png"></span>
                        <span class="md-doc-txt floatleft">用于公司员工考勤申请，请在请假前预先提交。</span>
                    </div>
                    <p class="mart10 clearfix"><a href="#" class="md-plus-btn floatright">填 写<em
                            class="md-plus-btn-r"></em></a></p>
                </div>
            </div>
            <div class="md-doc-item-box floatleft">
                <div class="md-doc-item" title="日常费用申请单">
                    <a href="#" class="h2">日常费用申请单</a>

                    <div class="md-plus-h clearfix">
                        <span class="md-ico floatleft"><img src="../../images/theme1-img/1-big-06.png"></span>
                        <span class="md-doc-txt floatleft">用于公司员工考勤申请，请在请假前预先提交。</span>
                    </div>
                    <p class="mart10 clearfix"><a href="#" class="md-plus-btn floatright">填 写<em
                            class="md-plus-btn-r"></em></a></p>
                </div>
            </div>
            <div class="md-doc-item-box floatleft">
                <div class="md-doc-item" title="差旅费用申请单">
                    <a href="#" class="h2">差旅费用申请单</a>

                    <div class="md-plus-h clearfix">
                        <span class="md-ico floatleft"><img src="../../images/theme1-img/1-big-07.png"></span>
                        <span class="md-doc-txt floatleft">用于公司员工考勤申请，请在请假前预先提交。</span>
                    </div>
                    <p class="mart10 clearfix"><a href="#" class="md-plus-btn floatright">填 写<em
                            class="md-plus-btn-r"></em></a></p>
                </div>
            </div>
            <div class="md-doc-item-box floatleft">
                <div class="md-doc-item" title="招聘申请单">
                    <a href="#" class="h2">招聘申请单</a>

                    <div class="md-plus-h clearfix">
                        <span class="md-ico floatleft"><img src="../../images/theme1-img/1-big-08.png"></span>
                        <span class="md-doc-txt floatleft">用于公司员工考勤申请，请在请假前预先提交。</span>
                    </div>
                    <p class="mart10 clearfix"><a href="#" class="md-plus-btn floatright">填 写<em
                            class="md-plus-btn-r"></em></a></p>
                </div>
            </div>
            <div class="md-doc-item-box floatleft">
                <div class="md-doc-item" title="员工入职申请单">
                    <a href="#" class="h2">员工入职申请单</a>

                    <div class="md-plus-h clearfix">
                        <span class="md-ico floatleft"><img src="../../images/theme1-img/1-big-09.png"></span>
                        <span class="md-doc-txt floatleft">用于公司员工考勤申请，请在请假前预先提交。</span>
                    </div>
                    <p class="mart10 clearfix"><a href="#" class="md-plus-btn floatright">填 写<em
                            class="md-plus-btn-r"></em></a></p>
                </div>
            </div>
            <div class="md-doc-item-box floatleft">
                <div class="md-doc-item" title="员工转正申请单">
                    <a href="#" class="h2">员工转正申请单</a>
                    <div class="md-plus-h clearfix">
                        <span class="md-ico floatleft"><img src="../../images/theme1-img/1-big-10.png"></span>
                        <span class="md-doc-txt floatleft">用于公司员工考勤申请，请在请假前预先提交。</span>
                    </div>
                    <p class="mart10 clearfix"><a href="#" class="md-plus-btn floatright">填 写<em
                            class="md-plus-btn-r"></em></a></p>
                </div>
            </div>
            <div class="md-doc-item-box floatleft">
                <div class="md-doc-item" title="还款申请单">
                    <a href="#" class="h2">考勤申请</a>
                    <div class="md-plus-h clearfix">
                        <span class="md-ico floatleft md-ico-01"></span>
                        <span class="md-doc-txt floatleft">公司内部请假专用申请单据。包含事假，病假，产假，倒休</span>
                    </div>
                    <p class="alignright marr10 mart10">
                        <a uid="19" class="md-mi-ico2 md-mi-edit" title="编辑"></a>
                        <a uid="19" class="md-mi-ico2 md-mi-delete" title="删除"></a>
                    </p>
                </div>
            </div>
            <div class="md-doc-item-box floatleft">
                <div class="md-doc-item" title="员工离职申请单">
                    <a href="#" class="h2">员工离职申请单</a>
                    <div class="md-plus-h clearfix">
                        <span class="md-ico floatleft"><img src="../../images/theme1-img/1-big-09.png"></span>
                        <span class="md-doc-txt floatleft">用于公司员工考勤申请，请在请假前预先提交。</span>
                    </div>
                    <p class="mart10 clearfix"><a href="#" class="md-plus-btn floatright">填 写<em
                            class="md-plus-btn-r"></em></a></p>
                </div>
            </div>
            <div class="md-doc-item-box floatleft">
            <!--自定义begin-->
            <div class="md-doc-item md-doc-item2 floatleft" title="常用申请自定义">
                <a href="#" class="h2">常用申请自定义</a>
                <div class="md-mini-ico clearfix">
                    <span class="md-ico floatleft"><img src="../../images/theme1-img/1-mini-01.png"></span>
                    <span class="md-ico floatleft"><img src="../../images/theme1-img/1-mini-02.png"></span>
                    <span class="md-ico floatleft"><img src="../../images/theme1-img/1-mini-03.png"></span>
                    <span class="md-ico floatleft"><img src="../../images/theme1-img/1-mini-04.png"></span>
                    <span class="md-ico floatleft"><img src="../../images/theme1-img/1-mini-05.png"></span>
                    <span class="md-ico floatleft"><img src="../../images/theme1-img/1-mini-06.png"></span>
                    <span class="md-ico floatleft"><img src="../../images/theme1-img/1-mini-07.png"></span>
                    <span class="md-ico floatleft"><img src="../../images/theme1-img/1-mini-08.png"></span>
                    <span class="md-ico floatleft"><img src="../../images/theme1-img/1-mini-09.png"></span>
                </div>
                <!--自定义弹出框 begin-->
                <div class="md-plus-pop" style="width:300px; left:-320px;top:-50px; position: absolute;">
                    <div class="md-plus-pop-inner">
                        <a href="#" class="md-delect"></a>
                        <em class="md-top-tip"></em>
                        <em class="md-right-tip"></em>
                        <em class="md-bt-tip"></em>
                        <em class="md-l-tip"></em>
                        <div class="md-mini-ico clearfix" style="height:auto;">
                            <a href="#" class="floatleft" title="考勤申请"><span class="md-ico"><img src="../../images/theme1-img/1-mini-01.png"></span>

                                <p>考勤申请</p></a>
                            <a href="#" class="floatleft" title="外出申请"><span class="md-ico"><img src="../../images/theme1-img/1-mini-02.png"></span>

                                <p>外出申请</p></a>
                            <a href="#" class="floatleft" title="出差申请"><span class="md-ico"><img src="../../images/theme1-img/1-mini-03.png"></span>

                                <p>出差申请</p></a>
                            <a href="#" class="floatleft" title="预支申请"><span class="md-ico"><img src="../../images/theme1-img/1-mini-04.png"></span>

                                <p>预支申请</p></a>
                            <a href="#" class="floatleft" title="还款申请"><span class="md-ico"><img src="../../images/theme1-img/1-mini-05.png"></span>

                                <p>还款申请</p></a>
                            <a href="#" class="floatleft" title="日常费用"><span class="md-ico"><img src="../../images/theme1-img/1-mini-06.png"></span>

                                <p>日常费用</p></a>
                            <a href="#" class="floatleft" title="差旅费用"><span class="md-ico"><img src="../../images/theme1-img/1-mini-07.png"></span>

                                <p>差旅费用</p></a>
                            <a href="#" class="floatleft" title="员工入职"><span class="md-ico"><img src="../../images/theme1-img/1-mini-08.png"></span>

                                <p>员工入职</p></a>
                            <a href="#" class="floatleft" title="考勤申请"><span class="md-ico"><img src="../../images/theme1-img/1-mini-09.png"></span>

                                <p>考勤申请</p></a>
                        </div>
                    </div>
                </div>
                <!--自定义弹出框 over-->
            </div>
            <!--自定义over-->
        </div>

        </div>

    </div>
    <!--the main over-->
</div>
</div>
</div>
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript">
    $(function () {
        $("div.md-lise-box .md-doc-item:not(.md-doc-item2)").hover(function () {
            $(this).addClass("current");
        }, function () {
            $(this).removeClass("current");
        })
    })
</script>
</body>
</html>
