body{padding:3px;}
.nopadding{padding:0!important;}
.nomar{margin:0!important;}
.noborder{border-width:0!important;}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container{width: auto;}
.navbar{margin-bottom: 0;}
.navbar .nav{float:right;}
.navbar .brand{padding:3px 10px 0 10px;height:32px;font-size: 1em;line-height:32px;margin-left:0;}
.navbar .brand img{vertical-align:middle;}
.navbar .btn-group{float:right;display: none;margin-right: 20px;}
.navbar .dropdown-menu{right:0;left:inherit;}
.navbar .navbar-inner{padding:0;}
.doc-list .btn{margin-top:10px;padding:5px 0;text-align: left;text-indent:1em;}
.doc-list .btn i{float: right;margin-right:30px;position: relative;bottom:-8px;}
.doc-list .btn img{width:40px;height:40px;vertical-align: middle;margin-right: 10px;}
.container-fluid{padding:0;padding-top:10px;}

.well{padding:5px;}
ul.dshb_icoNav {
    padding-top:10px;
}
ul.dshb_icoNav li a {
	text-shadow: 1px 1px 0 #fff;
}
.dshb_icoNav {
	margin:0;
	text-align:center
}
.dshb_icoNav li{
    text-align:center;
	list-style:none;
	display:inline-block;
	float:left;

	}
.dshb_icoNav li div{
	-webkit-box-shadow: inset 0px 1px 0px 0px #fff;
	box-shadow: inset 0px 1px 0px 0px #fff;
    position: relative;
	margin:0 5px 10px;
	background: #f9f9f9;
	background: -moz-linear-gradient(top, #f9f9f9 0%, #efefef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #efefef));
	background: -webkit-linear-gradient(top, #f9f9f9 0%, #efefef 100%);
	background: -o-linear-gradient(top, #f9f9f9 0%, #efefef 100%);
	background: -ms-linear-gradient(top, #f9f9f9 0%, #efefef 100%);
	background: linear-gradient(top, #f9f9f9 0%, #efefef 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#efefef', GradientType=0 );
	border:1px solid #e2e2e2;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	border-radius: 6px;
    border-color:#d2d2d2;
	-moz-box-shadow: 0 0 6px #ccc;
	-webkit-box-shadow: 0 0 6px #ccc;
	box-shadow: 0 0 6px #ccc;
    margin:9px;
}
.dshb_icoNav li  a {
	position:relative;
	display:block;
	font-size:12px;
	color:#222;
	background-repeat:no-repeat;
	background-position: center 10px;
	padding:5px 0 10px 0;
}
.dshb_icoNav li div  a.doc-del{display:block;width:32px;height:32px;background: url("../img/de-doc.png") no-repeat center bottom;padding:0;position: absolute;right:-10px;top:-10px;}
.dshb_icoNav li a:hover{text-decoration: none;}
.dshb_icoNav li a em.ico_bg{display: block;}
.dshb_icoNav li .dropdown-menu{left:-50px;width:160px;height:160px;}
.dshb_icoNav li .well{border:0;padding:0;margin:0;box-shadow:none;}
.dshb_icoNav li .well a,.dshb_icoNav li .well a img{padding:0;width: 35px;height:35px;}
.dshb_icoNav li .well a{float:left;margin:5px 5px 2px 11px;}
.row-fluid{padding:5px 0;border-bottom:1px dotted #B6B6B6;}
.row-fluid select,.row-fluid input,textarea{vertical-align: middle;width:45%;margin:0 10px;}
.row-fluid .cloum-2 input{width:55%;}
.row-fluid .label{margin-right:3px;}
.row-fluid .icon-arrow-right{margin:0 3px;}
.row-fluid .breadcrumb{padding:10px 0;margin:0;}
.cloum-1{width:19%;}
.row-fluid .cloum-3 select,.row-fluid .cloum-3 input{width:19%;}
.row-fluid .cloum-auto input,.row-fluid .cloum-auto select{width: auto;}
.row-fluid lable{display: inline-block;}
.btn{padding:4px 10px;}
.well ul{margin-left:5px;}
.well ul li{line-height: 25px; list-style-type: none;}
.userpop{width:100%;background-color:#fff;border-radius:6px;position:absolute;top:24px;left:10px;}
.userpop ul.dropdown-menu{width:90%;display: block;float: none;position: inherit;}
@media(min-width:979px){
    .dshb_icoNav li{width:20%;}
}
@media (min-width:768px)and (max-width:979px){
   .dshb_icoNav li{width:20%;}
}
@media (max-width:767px){
   .dshb_icoNav li{width:25%;}
}
@media (max-width:600px)and (min-width:480px){
    .dshb_icoNav li{width:25%;}
}
@media (max-width:480px){
    .navbar .nav{display:none;}
    .navbar .btn-group{display:block;}
    .dshb_icoNav li{width: 33.33333%;}
}
@media (max-width:360px){
    .dshb_icoNav li{width:50%;}
}












