<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>人事管理--信息查询（调动，离职弹出）</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/dqy-style.css" type="text/css">
</head>
<body>
<div class="container">
    <!--header begin-->
    <div class="header clearfix">
        <a href="#" class="logo floatleft" title="德青源"><img src="../../images/cssimg/dqy-logo.png"/></a>
        <ul class="nav font18 clearfix p-top40 floatleft">
           <li><a href="#"><em></em>首 页</a></li>
           <li class="current"><a href="#"><em></em>人事管理</a></li>
           <li><a href="#"><em></em>申请管理</a></li>
           <li><a href="#"><em></em>系统管理</a></li>
        </ul>
        <!--右侧begin-->
        <div class="top-bar">
           <div class="search-box"><!--search-box上加减 current 控制三角的方向，和选项的折叠-->
              <a href="#" class="triangle"></a>
              <span class="choosed">机构选择</span>
              <ul>
                  <li><a href="#">北京东城分部</a></li>
                  <li><a href="#">石家庄分部</a></li>
                  <li><a href="#">天津城分部</a></li>
                  <li><a href="#">美国西部分部</a></li>
              </ul>
           </div>
           <p class="clearfix mart20 p-top5 font14 aligncenter">
               <a href="#"><em class="dqy-ico dqy-ico-set"></em>帐户设置</a> |
               <a href="#"><em class="dqy-ico dqy-ico-out"></em>退出登录</a>
           </p>
        </div>
        <!--右侧over-->
    </div>
    <!--header over-->
    <div class="main">
        <div class="p-top10 clearfix">
          <!--左侧目录树begin-->
          <div class="side-left floatleft marl15">
            <div class="side-left-in font14">
                <!--一组begin-->
                <ul class="item-nav">
                    <li><a href="#" class="cur">事务申请</a></li>
                    <li>
                        <a href="#" class="cur">费用报销</a>
                        <dl class="font12">
                            <dd><a href="#">待审</a></dd>
                            <dd><a href="#">已通过</a></dd>
                            <dd><a href="#">已驳回</a></dd>
                        </dl>
                    </li>
                </ul>
                <!--一组over-->
                <!--一组begin-->
                <ul class="item-nav">
                    <li><a href="#" class="cur">我的申请</a></li>
                    <li>
                        <a href="#" class="cur">单据审批</a>
                        <dl class="font12">
                            <dd><a href="#">待审</a></dd>
                            <dd><a href="#">已通过</a></dd>
                            <dd><a href="#">已驳回</a></dd>
                        </dl>
                    </li>
                    <li><a href="#" class="cur">已审单据</a></li>
                </ul>
                <!--一组over-->
                <!--一组begin-->
                <ul class="item-nav">
                    <li><a href="#" class="cur">报销审批</a></li>
                    <li>
                        <a href="#" class="cur">预支审批</a>
                        <dl class="font12">
                            <dd><a href="#">待审</a></dd>
                            <dd><a href="#">已通过</a></dd>
                            <dd><a href="#">已驳回</a></dd>
                        </dl>
                    </li>
                    <li><a href="#" class="cur">还款审批</a></li>
                </ul>
                <!--一组over-->
                <!--一组begin-->
                <ul class="item-nav">
                    <li><a href="#" class="cur">预算管理</a></li>
                    <li><a href="#" class="cur">财务科目</a></li>
                </ul>
            </div>
          </div>
          <!--左侧目录树over-->
          <!--右侧begin-->
          <div class="right-main floatleft">
              <!--当前位置begin-->
              <div class="location clearfix">
                  <span class="font14">申请管理</span>
                  <em><img src="../../images/cssimg/now-r.jpg"/></em>
                  <div class="floatright marr15">
                      <em>当前位置：</em>
                      <a href="#">申请管理</a>
                      <em>&gt;</em>
                      <a href="#">费用报销</a>
                  </div>
              </div>
              <!--当前位置over-->
              <div class="right-inner mart5">
                  <!--搜索begin-->
                  <div class="r-top clearfix">
                      <div class="search floatleft clearfix">
                          <input type="text" class="search-bg" />
                          <a href="#" class="search-btn"></a>
                      </div>
                      <a href="#" class="change floatleft marl30"></a>
                      <a href="#" class="leave floatleft marl30"></a>
                  </div>
                  <!--搜索over-->
                  <!--信息begin-->
                  <p class="alignright"><a href="#" class="eidt"><i class="dqy-ico dqy-eidt"></i>编辑</a></p>
                  <table class="layout" width="100%">
                      <thead>
                        <tr>
                            <td colspan="5"><strong>个人信息</strong></td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                           <td>
                               <strong>姓名：</strong>
                               <span>刘德华<input type="text" class="int1 width-60"/></span>
                           </td>
                           <td>
                               <strong>性别：</strong>
                               <span>男</span>
                           </td>
                           <td>
                               <strong>出生日期：</strong>
                               <span>1964-5-34</span>
                           </td>
                           <td>
                               <strong>民族：</strong>
                               <span>汉族</span>
                           </td>
                           <td>
                               <strong>省份证号：</strong>
                               <span>12345678909</span>
                           </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <strong>职位：</strong>
                                <span>鸡蛋形象大使</span>
                            </td>
                            <td colspan="3">
                                <strong>所在部门：</strong>
                                <span>德清源英皇分部</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <strong>系统账号：</strong>
                                <span>1234567890</span>
                            </td>
                            <td colspan="3">
                                <strong>系统密码：</strong>
                                <span>1122333</span>
                            </td>
                        </tr>
                      </tbody>
                  </table>
                  <!--任职信息begin-->
                  <div>
                      <table class="layout nomar" width="100%">
                          <thead>
                            <tr>
                                <td colspan="5"><strong>任职信息</strong></td>
                            </tr>
                          </thead>
                      </table>
                      <div class="table-scroll">
                         <table class="layout nomar" width="100%">
                          <tbody>
                            <tr>
                               <td>2013年01月01日</td>
                               <td><strong>入职</strong>德清源英皇分部</td>
                               <td>任<strong>鸡蛋形象大使</strong>职位</td>
                            </tr>
                            <tr>
                               <td>2013年01月01日</td>
                               <td><strong>入职</strong>德清源英皇分部</td>
                               <td>任<strong>鸡蛋形象大使</strong>职位</td>
                            </tr>
                            <tr>
                               <td>2013年01月01日</td>
                               <td><strong>入职</strong>德清源英皇分部</td>
                               <td>任<strong>鸡蛋形象大使</strong>职位</td>
                            </tr>
                            <tr>
                               <td>2013年01月01日</td>
                               <td><strong>入职</strong>德清源英皇分部</td>
                               <td>任<strong>鸡蛋形象大使</strong>职位</td>
                            </tr>
                            <tr>
                               <td>2013年01月01日</td>
                               <td><strong>入职</strong>德清源英皇分部</td>
                               <td>任<strong>鸡蛋形象大使</strong>职位</td>
                            </tr>
                            <tr>
                               <td>2013年01月01日</td>
                               <td><strong>入职</strong>德清源英皇分部</td>
                               <td>任<strong>鸡蛋形象大使</strong>职位</td>
                            </tr>
                            <tr>
                               <td>2013年01月01日</td>
                               <td><strong>入职</strong>德清源英皇分部</td>
                               <td>任<strong>鸡蛋形象大使</strong>职位</td>
                            </tr>
                            <tr>
                               <td>2013年01月01日</td>
                               <td><strong>入职</strong>德清源英皇分部</td>
                               <td>任<strong>鸡蛋形象大使</strong>职位</td>
                            </tr>
                            <tr>
                               <td>2013年01月01日</td>
                               <td><strong>入职</strong>德清源英皇分部</td>
                               <td>任<strong>鸡蛋形象大使</strong>职位</td>
                            </tr>
                            <tr>
                            <tr>
                            <tr>
                            <tr>
                            <tr>
                               <td>2013年01月01日</td>
                               <td><strong>入职</strong>德清源英皇分部</td>
                               <td>任<strong>鸡蛋形象大使</strong>职位</td>
                            </tr>
                          </tbody>
                         </table>
                      </div>
                  </div>
                  <!--任职信息over-->
                  <!--信息over-->
              </div>
          </div>
          <!--右侧over-->
       </div>
        <!--调 动弹出begin-->
        <div class="pop" style="top:20px;left:400px;display: none;">
            <div class="pop-inner">
                <a href="#" class="dqy-ico dqy-off"></a>
                <p class="pop-title">调 动</p>
                <div class="pop-main">
                   <div class="pop-in noborder mart5">
                       <table class="form" width="100%">
                           <tr>
                               <th>调动类型</th>
                               <td>
                                   <select class="int2">
                                       <option>升迁</option>
                                       <option>一级科目</option>
                                       <option>一级科目</option>
                                   </select>
                               </td>
                           </tr>
                           <tr>
                               <th>调动部门</th>
                               <td>
                                   <select class="int2 width-160">
                                       <option>德清源美国部</option>
                                       <option>一级科目</option>
                                       <option>一级科目</option>
                                   </select>
                               </td>
                           </tr>
                           <tr>
                               <th>调动职位</th>
                               <td>
                                   <select class="int2 width-160">
                                       <option>形象代言</option>
                                       <option>一级科目</option>
                                       <option>一级科目</option>
                                   </select>
                               </td>
                           </tr>
                       </table>
                   </div>
                   <p class="alignright">
                       <a href="#" class="dqy-btn dqy-ok">确定</a>
                       <a href="#" class="dqy-btn dqy-quit">取消</a>
                   </p>
                </div>
            </div>
        </div>
        <!--调 动弹出over-->
        <!--离职弹出begin-->
        <div class="pop" style="top:300px;left:400px;display: none;">
            <div class="pop-inner">
                <a href="#" class="dqy-ico dqy-off"></a>
                <p class="pop-title">离 职</p>
                <div class="pop-main">
                   <div class="pop-in noborder mart5">
                       <textarea  class="font12 reason"></textarea>
                   </div>
                   <p class="alignright">
                       <a href="#" class="dqy-btn dqy-ok">确定</a>
                       <a href="#" class="dqy-btn dqy-quit">取消</a>
                   </p>
                </div>
            </div>
        </div>
        <!--离职弹出over-->
    </div>
</div>
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript">
    var $btn = $(".cur");
    var $dlHeight = $btn.next().height();
    $(function(){
        // 表格隔行换色
        $(".dqy-table tr:even").addClass("tr-bg");
    })
</script>
</body>
</html>