<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>流程设置</title>
    <link rel="stylesheet" href="../../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/dqy-style.css" type="text/css">
</head>
<body>
<div class="container">
    <!--header begin-->
    <div class="header clearfix">
        <a href="#" class="logo floatleft" title="德青源"><img src="../../images/cssimg/dqy-logo.png"/></a>
        <ul class="nav font18 clearfix p-top40 floatleft">
           <li><a href="#"><em></em>首 页</a></li>
           <li class="current"><a href="#"><em></em>人事管理</a></li>
           <li><a href="#"><em></em>申请管理</a></li>
           <li><a href="#"><em></em>系统管理</a></li>
        </ul>
        <!--右侧begin-->
        <div class="top-bar">
           <div class="search-box"><!--search-box上加减 current 控制三角的方向，和选项的折叠-->
              <a href="#" class="triangle"></a>
              <span class="choosed">机构选择</span>
              <ul>
                  <li><a href="#">北京东城分部</a></li>
                  <li><a href="#">石家庄分部</a></li>
                  <li><a href="#">天津城分部</a></li>
                  <li><a href="#">美国西部分部</a></li>
              </ul>
           </div>
           <p class="clearfix mart20 p-top5 font14 aligncenter">
               <a href="#"><em class="dqy-ico dqy-ico-set"></em>帐户设置</a> |
               <a href="#"><em class="dqy-ico dqy-ico-out"></em>退出登录</a>
           </p>
        </div>
        <!--右侧over-->
    </div>
    <!--header over-->
    <div class="main">
        <div class="p-top10 clearfix">
          <!--左侧目录树begin-->
          <div class="side-left floatleft marl15">
            <div class="side-left-in font14">
                <!--一组begin-->
                <ul class="item-nav">
                    <li><a href="#" class="cur">事务申请</a></li>
                    <li>
                        <a href="#" class="cur">费用报销</a>
                        <dl class="font12">
                            <dd><a href="#">待审</a></dd>
                            <dd><a href="#">已通过</a></dd>
                            <dd><a href="#">已驳回</a></dd>
                        </dl>
                    </li>
                </ul>
                <!--一组over-->
                <!--一组begin-->
                <ul class="item-nav">
                    <li><a href="#" class="cur">我的申请</a></li>
                    <li>
                        <a href="#" class="cur">单据审批</a>
                        <dl class="font12">
                            <dd><a href="#">待审</a></dd>
                            <dd><a href="#">已通过</a></dd>
                            <dd><a href="#">已驳回</a></dd>
                        </dl>
                    </li>
                    <li><a href="#" class="cur">已审单据</a></li>
                </ul>
                <!--一组over-->
                <!--一组begin-->
                <ul class="item-nav">
                    <li><a href="#" class="cur">报销审批</a></li>
                    <li>
                        <a href="#" class="cur">预支审批</a>
                        <dl class="font12">
                            <dd><a href="#">待审</a></dd>
                            <dd><a href="#">已通过</a></dd>
                            <dd><a href="#">已驳回</a></dd>
                        </dl>
                    </li>
                    <li><a href="#" class="cur">还款审批</a></li>
                </ul>
                <!--一组over-->
                <!--一组begin-->
                <ul class="item-nav">
                    <li><a href="#" class="cur">预算管理</a></li>
                    <li><a href="#" class="cur">财务科目</a></li>
                </ul>
            </div>
          </div>
          <!--左侧目录树over-->
          <!--右侧begin-->
          <div class="right-main floatleft">
              <!--当前位置begin-->
              <div class="location clearfix">
                  <span class="font14">申请管理</span>
                  <em><img src="../../images/cssimg/now-r.jpg"/></em>
                  <div class="floatright marr15">
                      <em>当前位置：</em>
                      <a href="#">申请管理</a>
                      <em>&gt;</em>
                      <a href="#">事务申请</a>
                  </div>
              </div>
              <!--当前位置over-->
              <div class="right-inner">
                 <div class="well aligncenter">
                     <strong class="font14"><span class="marr15">人事部</span>1月预算与实际支出</strong>
                     <div class="well-in clearfix">
                       <a class="btn btn-small" href="#"><i class="icon-retweet"></i> 财务科目切换</a>
                       <a class="btn btn-small" href="#">返 回</a>
                     </div>
                 </div>
                 <div class="pro-in clearfix">
                     <!--左侧begin-->
                     <div class="well pro-left floatleft">
                       <ul>
                           <li class="current">
                               <div class="clearfix">
                                   <span class="plus">
                                       <i class="icon-plus icon-white"></i>
                                       <i class="icon-minus icon-white"></i>
                                   </span>
                                   <a href="#"><strong>预算申报</strong></a>
                                   <a href="#" class="add" title="添加流程"><i class="icon-plus"></i></a>
                               </div>
                               <dl>
                                   <dd>
                                       <a href="#">流程1</a>
                                       <div class="make-item">
                                           <a href="" title="编辑"><i class="icon-edit"></i></a>
                                           <a href="" title="删除"><i class="icon-trash"></i></a>
                                           <a href="" title="上移"><i class="icon-arrow-up"></i></a>
                                           <a href="" title="下移"><i class="icon-arrow-down"></i></a>
                                       </div>
                                   </dd>
                                   <dd>
                                       <a href="#">流程2</a>
                                       <div class="make-item">
                                           <a href="" title="编辑"><i class="icon-edit"></i></a>
                                           <a href="" title="删除"><i class="icon-trash"></i></a>
                                           <a href="" title="上移"><i class="icon-arrow-up"></i></a>
                                           <a href="" title="下移"><i class="icon-arrow-down"></i></a>
                                       </div>
                                   </dd>
                               </dl>
                           </li>
                           <li>
                               <div class="clearfix">
                                   <span class="plus">
                                       <i class="icon-plus icon-white"></i>
                                       <i class="icon-minus icon-white"></i>
                                   </span>
                                   <a href="#"><strong>预算申报</strong></a>
                                   <a href="#" class="add" title="添加流程"><i class="icon-plus"></i></a>
                               </div>
                               <dl>
                                   <dd>
                                       <a href="#">流程1</a>
                                       <div class="make-item">
                                           <a href="" title="编辑"><i class="icon-edit"></i></a>
                                           <a href="" title="删除"><i class="icon-trash"></i></a>
                                           <a href="" title="上移"><i class="icon-arrow-up"></i></a>
                                           <a href="" title="下移"><i class="icon-arrow-down"></i></a>
                                       </div>
                                   </dd>
                                   <dd>
                                       <a href="#">流程2</a>
                                       <div class="make-item">
                                           <a href="" title="编辑"><i class="icon-edit"></i></a>
                                           <a href="" title="删除"><i class="icon-trash"></i></a>
                                           <a href="" title="上移"><i class="icon-arrow-up"></i></a>
                                           <a href="" title="下移"><i class="icon-arrow-down"></i></a>
                                       </div>
                                   </dd>
                               </dl>
                           </li>
                           <li>
                               <div class="clearfix">
                                   <span class="plus">
                                       <i class="icon-plus icon-white"></i>
                                       <i class="icon-minus icon-white"></i>
                                   </span>
                                   <a href="#"><strong>预算申报</strong></a>
                                   <a href="#" class="add" title="添加流程"><i class="icon-plus"></i></a>
                               </div>
                               <dl>
                                   <dd>
                                       <a href="#">流程1</a>
                                       <div class="make-item">
                                           <a href="" title="编辑"><i class="icon-edit"></i></a>
                                           <a href="" title="删除"><i class="icon-trash"></i></a>
                                           <a href="" title="上移"><i class="icon-arrow-up"></i></a>
                                           <a href="" title="下移"><i class="icon-arrow-down"></i></a>
                                       </div>
                                   </dd>
                                   <dd>
                                       <a href="#">流程2</a>
                                       <div class="make-item">
                                           <a href="" title="编辑"><i class="icon-edit"></i></a>
                                           <a href="" title="删除"><i class="icon-trash"></i></a>
                                           <a href="" title="上移"><i class="icon-arrow-up"></i></a>
                                           <a href="" title="下移"><i class="icon-arrow-down"></i></a>
                                       </div>
                                   </dd>
                               </dl>
                           </li>
                           <li>
                               <div class="clearfix">
                                   <span class="plus">
                                       <i class="icon-plus icon-white"></i>
                                       <i class="icon-minus icon-white"></i>
                                   </span>
                                   <a href="#"><strong>预算申报</strong></a>
                                   <a href="#" class="add" title="添加流程"><i class="icon-plus"></i></a>
                               </div>
                               <dl>
                                   <dd>
                                       <a href="#">流程1</a>
                                       <div class="make-item">
                                           <a href="" title="编辑"><i class="icon-edit"></i></a>
                                           <a href="" title="删除"><i class="icon-trash"></i></a>
                                           <a href="" title="上移"><i class="icon-arrow-up"></i></a>
                                           <a href="" title="下移"><i class="icon-arrow-down"></i></a>
                                       </div>
                                   </dd>
                                   <dd>
                                       <a href="#">流程2</a>
                                       <div class="make-item">
                                           <a href="" title="编辑"><i class="icon-edit"></i></a>
                                           <a href="" title="删除"><i class="icon-trash"></i></a>
                                           <a href="" title="上移"><i class="icon-arrow-up"></i></a>
                                           <a href="" title="下移"><i class="icon-arrow-down"></i></a>
                                       </div>
                                   </dd>
                               </dl>
                           </li>
                       </ul>
                     </div>
                     <!--左侧over-->
                     <!--右侧begin-->
                     <div class="pro-right floatright">
                         <div class="process-bar font14">
                             <ul class="clearfix">
                                 <li><a href="#"><span class="badge">1</span>王振佳</a><a href="#" class="del"><i class="icon-remove"></i></a></li>
                                 <li><i class="dqy-ico dqy-r"></i></li>
                                 <li><a href="#"><span class="badge">2</span>王振佳</a><a href="#" class="del"><i class="icon-remove"></i></a></li>
                                 <li><i class="dqy-ico dqy-r"></i></li>
                                 <li><a href="#"><span class="badge">3</span>王振佳</a><a href="#" class="del"><i class="icon-remove"></i></a></li>
                                 <li><i class="dqy-ico dqy-r"></i></li>
                                 <li><a href="#" class="btn  btn-small">添加新流程</a></li>
                             </ul>
                         </div>
                     </div>
                     <!--右侧over-->
                 </div>
                 <p class="alignright">
                     <a href="#" class="btn btn-success">保 存</a>
                     <a href="#" class="btn">取 消</a>
                 </p>
              </div>
          </div>
          <!--新加流程弹出begin-->
          <div class="modal "><!--使用参考http://v2.bootcss.com/javascript.html#modals-->
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p class="pop-title">添加流程节点</p>
              </div>
              <div class="modal-body">
                <table class="form" width="100%">
                    <tr>
                        <th>节点类型</th>
                        <td>
                            <select class="int2 width-160">
                                <option>一级科目</option>
                                <option>一级科目</option>
                                <option>一级科目</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                       <th width="100">审批人</th>
                       <td><input type="text" class="int2 width-200"/></td>
                   </tr>
                </table>
              </div>
              <div class="modal-footer">
              <a href="#" class="btn btn-success">确定</a>
              <a href="#" class="btn">取消</a>
          </div>
           </div>
          <!--新加流程弹出over-->
          <!--右侧over-->
       </div>
    </div>
</div>
</body>
</html>