<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>预支还款</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/dqy-style.css" type="text/css">
</head>
<body>
<div class="container">
    <!--header begin-->
    <div class="header clearfix">
        <a href="#" class="logo floatleft" title="德青源"><img src="../../images/cssimg/dqy-logo.png"/></a>
        <ul class="nav font18 clearfix p-top40 floatleft">
           <li><a href="#"><em></em>首 页</a></li>
           <li class="current"><a href="#"><em></em>人事管理</a></li>
           <li><a href="#"><em></em>申请管理</a></li>
           <li><a href="#"><em></em>系统管理</a></li>
        </ul>
        <!--右侧begin-->
        <div class="top-bar">
           <div class="search-box"><!--search-box上加减 current 控制三角的方向，和选项的折叠-->
              <a href="#" class="triangle"></a>
              <span class="choosed">机构选择</span>
              <ul>
                  <li><a href="#">北京东城分部</a></li>
                  <li><a href="#">石家庄分部</a></li>
                  <li><a href="#">天津城分部</a></li>
                  <li><a href="#">美国西部分部</a></li>
              </ul>
           </div>
           <p class="clearfix mart20 p-top5 font14 aligncenter">
               <a href="#"><em class="dqy-ico dqy-ico-set"></em>帐户设置</a> |
               <a href="#"><em class="dqy-ico dqy-ico-out"></em>退出登录</a>
           </p>
        </div>
        <!--右侧over-->
    </div>
    <!--header over-->
    <div class="main">
        <div class="p-top10 clearfix">
          <!--左侧目录树begin-->
          <div class="side-left floatleft marl15">
            <div class="side-left-in font14">
                <!--一组begin-->
                <ul class="item-nav">
                    <li><a href="#" class="cur">事务申请</a></li>
                    <li>
                        <a href="#" class="cur">费用报销</a>
                        <dl class="font12">
                            <dd><a href="#">待审</a></dd>
                            <dd><a href="#">已通过</a></dd>
                            <dd><a href="#">已驳回</a></dd>
                        </dl>
                    </li>
                </ul>
                <!--一组over-->
                <!--一组begin-->
                <ul class="item-nav">
                    <li><a href="#" class="cur">我的申请</a></li>
                    <li>
                        <a href="#" class="cur">单据审批</a>
                        <dl class="font12">
                            <dd><a href="#">待审</a></dd>
                            <dd><a href="#">已通过</a></dd>
                            <dd><a href="#">已驳回</a></dd>
                        </dl>
                    </li>
                    <li><a href="#" class="cur">已审单据</a></li>
                </ul>
                <!--一组over-->
                <!--一组begin-->
                <ul class="item-nav">
                    <li><a href="#" class="cur">报销审批</a></li>
                    <li>
                        <a href="#" class="cur">预支审批</a>
                        <dl class="font12">
                            <dd><a href="#">待审</a></dd>
                            <dd><a href="#">已通过</a></dd>
                            <dd><a href="#">已驳回</a></dd>
                        </dl>
                    </li>
                    <li><a href="#" class="cur">还款审批</a></li>
                </ul>
                <!--一组over-->
                <!--一组begin-->
                <ul class="item-nav">
                    <li><a href="#" class="cur">预算管理</a></li>
                    <li><a href="#" class="cur">财务科目</a></li>
                </ul>
            </div>
          </div>
          <!--左侧目录树over-->
          <!--右侧begin-->
          <div class="right-main floatleft">
              <!--当前位置begin-->
              <div class="location clearfix">
                  <span class="font14">申请管理</span>
                  <em><img src="../../images/cssimg/now-r.jpg"/></em>
                  <div class="floatright marr15">
                      <em>当前位置：</em>
                      <a href="#">申请管理</a>
                      <em>&gt;</em>
                      <a href="#">事务申请</a>
                  </div>
              </div>
              <!--当前位置over-->
              <div class="right-inner mart5">
                 <table class="application">
                    <tr>
                        <th width="90">申请流程</th>
                        <td>
                            <select class="int2 width-160">
                                <option>销售费用流程</option>
                                <option>销售费用流程</option>
                                <option>销售费用流程</option>
                            </select>
                            <a href="#"><i class="dqy-ico dqy-att"></i>上传附件</a>
                            <a href="#"><i class="dqy-ico dqy-add"></i>添加</a>
                            <a href="#"><i class="dqy-ico dqy-mi"></i>删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="process-bar font14">
                                <a href="#">姓名1</a>
                                <i class="dqy-ico dqy-r"></i>
                                <a href="#">姓名2</a>
                                <i class="dqy-ico dqy-r"></i>
                                <a href="#">姓名3</a>
                                <i class="dqy-ico dqy-r"></i>
                                <a href="#">姓名4</a>
                                <i class="dqy-ico dqy-r"></i>
                                <a href="#">姓名5</a>
                                <i class="dqy-ico dqy-r"></i>
                                <a href="#">姓名6</a>
                                <i class="dqy-ico dqy-r"></i>
                                <a href="#">姓名7</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>申请标题</th>
                        <td><input type="text" class="int1 width-510"/></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="process-bar noborder nopadding nomar">
                                <table width="100%">
                                    <tr>
                                        <td><span>申请人：</span>姓名</td>
                                        <td><span>部门：</span>XXXXX部</td>
                                        <td><span>申请日期：</span>2013-07-06</td>
                                        <td><span>申请时间：</span>18:14</td>
                                        <td><span>申请编号：</span>nn20130706001</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>申请流程</th>
                        <td>
                            <select class="int2 width-510">
                                <option>销售费用流程</option>
                                <option>销售费用流程</option>
                                <option>销售费用流程</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="process-bar money">
                                <table width="100%">
                                    <tr>
                                        <td><span>总金额：</span>2354456</td>
                                        <td><span>预算金额：</span>4w54654654645</td>
                                        <td><span>已发生金额：</span>25667778</td>
                                        <td><span>剩余金额：</span>45455454</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table width="100%">
                             <tr>
                               <th width="90">预支现金</th>
                               <td><input type="text" class="int1 width-160"/></td>
                               <th>申请流程</th>
                               <td><select class="int1 width-60"><option>现金</option></select></td>
                               <th>用途</th>
                               <td><input type="text" class="int1 width-280"/></td>
                             </tr>
                           </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p class="alignright">
                                <a href="#"class="dqy-ico dqy-add2"></a>
                                <a href="#"class="dqy-ico dqy-mi2"></a>
                            </p>
                            <div>
                              <table class="layout nomar mart5" width="100%">
                                  <thead>
                                    <tr>
                                        <td width="120"><strong>费用类别</strong></td>
                                        <td width="120"><strong>费用名称</strong></td>
                                        <td width="120"><strong>金额</strong></td>
                                        <td><strong>备注</strong></td>
                                    </tr>
                                  </thead>
                              </table>
                              <div class="table-scroll">
                                 <table class="layout nomar" width="100%">
                                    <tr>
                                       <td width="130">工资补助</td>
                                       <td width="120">加班补助</td>
                                       <td width="120">100</td>
                                       <td>快点打给我啊！！！</td>
                                    </tr>
                                    <tr>
                                        <td><select class="int2 width-100"><option>销售费用</option></select></td>
                                        <td><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td><input type="text" class="int1 width-100"/></td>
                                        <td><textarea class="int1 width-280"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td><select class="int2 width-100"><option>销售费用</option></select></td>
                                        <td><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td><input type="text" class="int1 width-100"/></td>
                                        <td><textarea class="int1 width-280"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td><select class="int2 width-100"><option>销售费用</option></select></td>
                                        <td><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td><input type="text" class="int1 width-100"/></td>
                                        <td><textarea class="int1 width-280"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td><select class="int2 width-100"><option>销售费用</option></select></td>
                                        <td><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td><input type="text" class="int1 width-100"/></td>
                                        <td><textarea class="int1 width-280"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td><select class="int2 width-100"><option>销售费用</option></select></td>
                                        <td><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td><input type="text" class="int1 width-100"/></td>
                                        <td><textarea class="int1 width-280"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td><select class="int2 width-100"><option>销售费用</option></select></td>
                                        <td><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td><input type="text" class="int1 width-100"/></td>
                                        <td><textarea class="int1 width-280"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td><select class="int2 width-100"><option>销售费用</option></select></td>
                                        <td><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td><input type="text" class="int1 width-100"/></td>
                                        <td><textarea class="int1 width-280"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td><select class="int2 width-100"><option>销售费用</option></select></td>
                                        <td><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td><input type="text" class="int1 width-100"/></td>
                                        <td><textarea class="int1 width-280"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td><select class="int2 width-100"><option>销售费用</option></select></td>
                                        <td><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td><input type="text" class="int1 width-100"/></td>
                                        <td><textarea class="int1 width-280"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td><select class="int2 width-100"><option>销售费用</option></select></td>
                                        <td><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td><input type="text" class="int1 width-100"/></td>
                                        <td><textarea class="int1 width-280"></textarea></td>
                                    </tr>
                                 </table>
                              </div>
                          </div>
                        </td>
                    </tr>
                 </table>
                 <p class="alignright">
                     <a href="#" class="dqy-btn dqy-sure">保 存</a>
                     <a href="#" class="dqy-btn dqy-sure">发 送</a>
                     <a href="#" class="dqy-btn dqy-quit">取 消</a>
                 </p>
              </div>
          </div>
          <!--右侧over-->
       </div>
    </div>
</div>
</body>
</html>