<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>预算管理-1</title>
    <link rel="stylesheet" href="../../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/dqy-style.css" type="text/css">
</head>
<body>
<div class="container">
    <!--header begin-->
    <div class="header clearfix">
        <a href="#" class="logo floatleft" title="德青源"><img src="../../images/cssimg/dqy-logo.png"/></a>
        <ul class="nav font18 clearfix p-top40 floatleft">
           <li><a href="#"><em></em>首 页</a></li>
           <li class="current"><a href="#"><em></em>人事管理</a></li>
           <li><a href="#"><em></em>申请管理</a></li>
           <li><a href="#"><em></em>系统管理</a></li>
        </ul>
        <!--右侧begin-->
        <div class="top-bar">
           <div class="search-box"><!--search-box上加减 current 控制三角的方向，和选项的折叠-->
              <a href="#" class="triangle"></a>
              <span class="choosed">机构选择</span>
              <ul>
                  <li><a href="#">北京东城分部</a></li>
                  <li><a href="#">石家庄分部</a></li>
                  <li><a href="#">天津城分部</a></li>
                  <li><a href="#">美国西部分部</a></li>
              </ul>
           </div>
           <p class="clearfix mart20 p-top5 font14 aligncenter">
               <a href="#"><em class="dqy-ico dqy-ico-set"></em>帐户设置</a> |
               <a href="#"><em class="dqy-ico dqy-ico-out"></em>退出登录</a>
           </p>
        </div>
        <!--右侧over-->
    </div>
    <!--header over-->
    <div class="main">
        <div class="p-top10 clearfix">
          <!--左侧目录树begin-->
          <div class="side-left floatleft marl15">
            <div class="side-left-in font14">
                <!--一组begin-->
                <ul class="item-nav">
                    <li><a href="#" class="cur">事务申请</a></li>
                    <li>
                        <a href="#" class="cur">费用报销</a>
                        <dl class="font12">
                            <dd><a href="#">待审</a></dd>
                            <dd><a href="#">已通过</a></dd>
                            <dd><a href="#">已驳回</a></dd>
                        </dl>
                    </li>
                </ul>
                <!--一组over-->
                <!--一组begin-->
                <ul class="item-nav">
                    <li><a href="#" class="cur">我的申请</a></li>
                    <li>
                        <a href="#" class="cur">单据审批</a>
                        <dl class="font12">
                            <dd><a href="#">待审</a></dd>
                            <dd><a href="#">已通过</a></dd>
                            <dd><a href="#">已驳回</a></dd>
                        </dl>
                    </li>
                    <li><a href="#" class="cur">已审单据</a></li>
                </ul>
                <!--一组over-->
                <!--一组begin-->
                <ul class="item-nav">
                    <li><a href="#" class="cur">报销审批</a></li>
                    <li>
                        <a href="#" class="cur">预支审批</a>
                        <dl class="font12">
                            <dd><a href="#">待审</a></dd>
                            <dd><a href="#">已通过</a></dd>
                            <dd><a href="#">已驳回</a></dd>
                        </dl>
                    </li>
                    <li><a href="#" class="cur">还款审批</a></li>
                </ul>
                <!--一组over-->
                <!--一组begin-->
                <ul class="item-nav">
                    <li><a href="#" class="cur">预算管理</a></li>
                    <li><a href="#" class="cur">财务科目</a></li>
                </ul>
            </div>
          </div>
          <!--左侧目录树over-->
          <!--右侧begin-->
          <div class="right-main floatleft">
              <!--当前位置begin-->
              <div class="location clearfix">
                  <span class="font14">申请管理</span>
                  <em><img src="../../images/cssimg/now-r.jpg"/></em>
                  <div class="floatright marr15">
                      <em>当前位置：</em>
                      <a href="#">申请管理</a>
                      <em>&gt;</em>
                      <a href="#">事务申请</a>
                  </div>
              </div>
              <!--当前位置over-->
              <div class="right-inner">
                 <div class="well aligncenter">
                     <strong class="font14">部门名称</strong>
                     <div class="well-in clearfix">
                       <select class="int2 width-100"><option>全部科目</option></select>
                       <select class="int2 width-120"><option>费用项目切换</option></select>
                       <a class="btn btn-small btn-link" href="#">返 回</a>
                     </div>
                 </div>
                 <table class="application nomar">
                    <tr>
                        <td colspan="2">
                            <div class="process-bar noborder nopadding nomar">
                                <table class="table  nomar">
                                    <tr>
                                        <td>2012-12-01 至 2013-12-01</td>
                                        <td>制作人：刘德华</td>
                                        <td>制作时间：2012-12-10 8:20</td>
                                        <td>修改人：梁朝伟</td>
                                        <td>修改时间：2012-12-10 8:20</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table class="table nomar">
                                <tr>
                                    <td class="nopadding p-top5"><span class="label label-info">预算总额：125468789</span></td>
                                    <td class="nopadding p-top5"><span class="label label-success">已产生-已审批：2564789</span></td>
                                    <td class="nopadding p-top5"><span class="label label-warning">已产生-待审批：2564789</span></td>
                                    <td class="nopadding p-top5"><span class="label label-important">超出预算金额：2564789</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="scroll-x mart10">
                              <table class="layout table table-bordered table-hover tableBgColor nomar nopadding">                                 <thead>
                                    <tr>
                                        <td width="160"><strong>归属部门</strong></td>
                                        <td width="160"><strong>费用类别</strong></td>
                                        <td width="160"><strong>费用名称</strong></td>
                                        <td width="100"><strong>1月</strong></td>
                                        <td width="100"><strong>2月</strong></td>
                                        <td width="100"><strong>3月</strong></td>
                                        <td width="100"><strong>4月</strong></td>
                                        <td width="100"><strong>5月</strong></td>
                                        <td width="100"><strong>6月</strong></td>
                                        <td width="100"><strong>7月</strong></td>
                                        <td width="100"><strong>8月</strong></td>
                                        <td width="100"><strong>9月</strong></td>
                                        <td width="100"><strong>10月</strong></td>
                                        <td width="100"><strong>11月</strong></td>
                                        <td width="100"><strong>12月</strong></td>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                        <td width="160"><select class="int2 width-100"><option>销售部</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费</option></select></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                    </tr>
                                    <tr>
                                        <td width="160"><select class="int2 width-100"><option>销售部</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费</option></select></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                    </tr>
                                    <tr>
                                        <td width="160"><select class="int2 width-100"><option>销售部</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费</option></select></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                    </tr>
                                    <tr>
                                        <td width="160"><select class="int2 width-100"><option>销售部</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费</option></select></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                    </tr>
                                    <tr>
                                        <td width="160"><select class="int2 width-100"><option>销售部</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费</option></select></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                    </tr>
                                    <tr>
                                        <td width="160"><select class="int2 width-100"><option>销售部</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费</option></select></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                    </tr>
                                    <tr>
                                        <td width="160"><select class="int2 width-100"><option>销售部</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费</option></select></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                    </tr>
                                    <tr>
                                        <td width="160"><select class="int2 width-100"><option>销售部</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费</option></select></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                    </tr>
                                    <tr>
                                        <td width="160"><select class="int2 width-100"><option>销售部</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费</option></select></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                    </tr>
                                    <tr>
                                        <td width="160"><select class="int2 width-100"><option>销售部</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费</option></select></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                    </tr>
                                    <tr>
                                        <td width="160"><select class="int2 width-100"><option>销售部</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费</option></select></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                    </tr>
                                    <tr>
                                        <td width="160"><select class="int2 width-100"><option>销售部</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费</option></select></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                    </tr>
                                    <tr>
                                        <td width="160"><select class="int2 width-100"><option>销售部</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费</option></select></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                    </tr>
                                    <tr>
                                        <td width="160"><select class="int2 width-100"><option>销售部</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费</option></select></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                    </tr>
                                    <tr>
                                        <td width="160"><select class="int2 width-100"><option>销售部</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费</option></select></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                    </tr>
                                    <tr>
                                        <td width="160"><select class="int2 width-100"><option>销售部</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费</option></select></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                    </tr>
                                    <tr>
                                        <td width="160"><select class="int2 width-100"><option>销售部</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费用</option></select></td>
                                        <td width="160"><select class="int2 width-100"><option>样品费</option></select></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                        <td width="100"><input type="text" class="int1 width-70"/></td>
                                    </tr>
                                  </tbody>
                              </table>
                            </div>
                        </td>
                    </tr>
                 </table>
                 <p class="alignright">
                     <a href="#" class="btn btn-success">保 存</a>
                     <a href="#" class="btn">取 消</a>
                 </p>
              </div>
          </div>
          <!--右侧over-->
       </div>
    </div>
</div>
</body>
</html>