<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>预算管理3</title>
    <link rel="stylesheet" href="../../css/global.css" type="text/css">
    <link rel="stylesheet" href="../../css/dqy-style.css" type="text/css">
</head>
<body>
<div class="container">
    <!--header begin-->
    <div class="header clearfix">
        <a href="#" class="logo floatleft" title="德青源"><img src="../../images/cssimg/dqy-logo.png"/></a>
        <ul class="nav font18 clearfix p-top40 floatleft">
           <li><a href="#"><em></em>首 页</a></li>
           <li class="current"><a href="#"><em></em>人事管理</a></li>
           <li><a href="#"><em></em>申请管理</a></li>
           <li><a href="#"><em></em>系统管理</a></li>
        </ul>
        <!--右侧begin-->
        <div class="top-bar">
           <div class="search-box"><!--search-box上加减 current 控制三角的方向，和选项的折叠-->
              <a href="#" class="triangle"></a>
              <span class="choosed">机构选择</span>
              <ul>
                  <li><a href="#">北京东城分部</a></li>
                  <li><a href="#">石家庄分部</a></li>
                  <li><a href="#">天津城分部</a></li>
                  <li><a href="#">美国西部分部</a></li>
              </ul>
           </div>
           <p class="clearfix mart20 p-top5 font14 aligncenter">
               <a href="#"><em class="dqy-ico dqy-ico-set"></em>帐户设置</a> |
               <a href="#"><em class="dqy-ico dqy-ico-out"></em>退出登录</a>
           </p>
        </div>
        <!--右侧over-->
    </div>
    <!--header over-->
    <div class="main">
        <div class="p-top10 clearfix">
          <!--左侧目录树begin-->
          <div class="side-left floatleft marl15">
            <div class="side-left-in font14">
                <!--一组begin-->
                <ul class="item-nav">
                    <li><a href="#" class="cur">事务申请</a></li>
                    <li>
                        <a href="#" class="cur">费用报销</a>
                        <dl class="font12">
                            <dd><a href="#">待审</a></dd>
                            <dd><a href="#">已通过</a></dd>
                            <dd><a href="#">已驳回</a></dd>
                        </dl>
                    </li>
                </ul>
                <!--一组over-->
                <!--一组begin-->
                <ul class="item-nav">
                    <li><a href="#" class="cur">我的申请</a></li>
                    <li>
                        <a href="#" class="cur">单据审批</a>
                        <dl class="font12">
                            <dd><a href="#">待审</a></dd>
                            <dd><a href="#">已通过</a></dd>
                            <dd><a href="#">已驳回</a></dd>
                        </dl>
                    </li>
                    <li><a href="#" class="cur">已审单据</a></li>
                </ul>
                <!--一组over-->
                <!--一组begin-->
                <ul class="item-nav">
                    <li><a href="#" class="cur">报销审批</a></li>
                    <li>
                        <a href="#" class="cur">预支审批</a>
                        <dl class="font12">
                            <dd><a href="#">待审</a></dd>
                            <dd><a href="#">已通过</a></dd>
                            <dd><a href="#">已驳回</a></dd>
                        </dl>
                    </li>
                    <li><a href="#" class="cur">还款审批</a></li>
                </ul>
                <!--一组over-->
                <!--一组begin-->
                <ul class="item-nav">
                    <li><a href="#" class="cur">预算管理</a></li>
                    <li><a href="#" class="cur">财务科目</a></li>
                </ul>
            </div>
          </div>
          <!--左侧目录树over-->
          <!--右侧begin-->
          <div class="right-main floatleft">
              <!--当前位置begin-->
              <div class="location clearfix">
                  <span class="font14">申请管理</span>
                  <em><img src="../../images/cssimg/now-r.jpg"/></em>
                  <div class="floatright marr15">
                      <em>当前位置：</em>
                      <a href="#">申请管理</a>
                      <em>&gt;</em>
                      <a href="#">费用报销</a>
                  </div>
              </div>
              <!--当前位置over-->
              <div class="right-inner mart5">
                  <table class="application">
                    <tr>
                        <td colspan="2">
                            <div class="process-bar noborder nopadding nomar">
                                <table width="100%">
                                    <tr>
                                        <td><span>部门：</span>XXXXX部</td>
                                        <td><span>预算起始：</span>2013年1月 -- 2013年12月</td>
                                        <td><span>制作人：</span>刘德华</td>
                                        <td><span>制作日期：</span>2013-01-30 18:14</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                  </table>
                  <div class="scroll-x mart5">
                      <table class="layout nomar nopadding">
                          <thead>
                            <tr>
                                <td width="160"><strong>费用类别</strong></td>
                                <td width="160"><strong>费用名称</strong></td>
                                <td width="100"><strong>1月</strong></td>
                                <td width="100"><strong>2月</strong></td>
                                <td width="100"><strong>3月</strong></td>
                                <td width="100"><strong>4月</strong></td>
                                <td width="100"><strong>5月</strong></td>
                                <td width="100"><strong>6月</strong></td>
                                <td width="100"><strong>7月</strong></td>
                                <td width="100"><strong>8月</strong></td>
                                <td width="100"><strong>9月</strong></td>
                                <td width="100"><strong>10月</strong></td>
                                <td width="100"><strong>11月</strong></td>
                                <td width="100"><strong>12月</strong></td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td width="160"><select class="int2 width-100"><option>样品费用</option></select></td>
                                <td width="160"><select class="int2 width-100"><option>样品费</option></select></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                            </tr>
                            <tr>
                                <td width="160"><select class="int2 width-100"><option>样品费用</option></select></td>
                                <td width="160"><select class="int2 width-100"><option>样品费</option></select></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                            </tr>
                            <tr>
                                <td width="160"><select class="int2 width-100"><option>样品费用</option></select></td>
                                <td width="160"><select class="int2 width-100"><option>样品费</option></select></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                                <td width="100"><input type="text" class="int1 width-70"/></td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <!--右侧over-->
       </div>
    </div>
</div>
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){
        // 表格隔行换色
        $(".dqy-table tr:even").addClass("tr-bg");
    })
</script>
</body>
</html>